/* .site-header{
    background-color: #26C6DA;
    color: #d0dad7;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.site-header-content {
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #797874 2px 5px 5px;
}
body{
    margin: 0;
} */

body{
    margin: 0;
    padding: 0;
    background: #262626;
    
     
}

.skewedBox{
     background: #26C6DA;
     padding: 100px 0;
     transform: skew(0deg, -10deg) translateY(-150px);
     color: rgba(255, 255, 255, 0.904);
}

.container{
     padding: 150px 200px;
     transform: skew(0deg, 10deg);
     font-family: arial;
}

.sec2{
    padding: 0 200px 150px;
    color: #fff;
    font-family: cursive;
    text-align: left;
    font-size: 1.5em;
}


.profile-pic{
    border-radius: 50%;
    /* height: 200px;
    width: 200px; */
    align-self: right;
    /* box-shadow: #797874 2px 5px 5px; */
}